@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400;1,600&display=swap');

:root {
    --blue: #477eff;
    --dark-color: #0c53f9;
    --black: #444;
    --light-color: #666;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    color: #fff;
    border-radius: 0.5rem;
    background: var(--blue);
    border: 1px solid var(--border);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.header .header_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 999;
}

.header .header_one .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header_one .logo i {
    color: var(--blue);
}

.header .header_one .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header_one .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
    border: none;
}

.header .header_one .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header_one .search-form label:hover {
    color: var(--blue);
}

.header .header_one .icons div,
.header .header_one .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header_one .icons div:hover,
.header .header_one .icons a:hover {
    color: var(--blue);
}

#search-btn {
    display: none;
}


/*---- home section ----*/
section {
    padding: 3rem 9%;
}



.home {
    background: url(./image/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 400px;
    top: 100px;
    z-index: 99;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home .row .books-list {
    flex: 1 1 42rem;
    margin-top: 2rem;
    text-align: center;
}

.home .row .books-list a img {
    height: 25rem;
}

.home .row .books-list a:hover img {
    transform: scale(0.9);
}

.home .row .books-list .stand {
    width: 100%;
    margin-top: -2rem;
}

/* @media (max-width:768px) {
    .home .row .content h3 {
        font-size: 3.5rem;
    }

    .home .row .content {
        text-align: center;
    }
} */



/*------- featured section ----------*/
.featured{
    position: absolute;
    top: 500px;
    width: 100%;
    min-height: 100vh;
}
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: 5rem 2rem;
    color: var(--black);
    border: var(--border);
    background: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #eee 30.1%);
}

.featured .featured-slider .box .image img {
    height: 25rem;
}

.featured .featured-slider .box:hover .image {
    cursor: pointer;
}

.content-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    padding-top: 1rem;
}

.featured .featured-slider .box .content {
    background: #eee;
    padding: 0 1.5rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content a {
    font-size: 2rem;
    color: var(--black);
    border-radius: 50%;
    padding-top: 1rem;
}
.featured .featured-slider .box .content a:hover {
    color: var(--blue);
}
/*-------- deal section ----*/

.deal{
    background: #f3f3f3;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: 1.5rem;
    position: absolute;
    top: calc(220vh + 500px);
    width: 100%;
    height: 480px;
}

.deal .content{
    flex: 1 1 42rem;
}

.deal .image{
    flex: 1 1 42rem;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color:var(--blue);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.deal .content h1{
    color: var(--black);
    font-size: 4rem;
}

.deal .content p{
    padding: 1rem 0;
    color: var(light-color);
    font-size: 1.4rem;
    line-height: 2;
}

/* sidecart start */
.side-cart {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100vh;
    width: 380px;
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow);

}

.side-cart.active {
    right: 0;
}

.side-cart h1 {
    font-size: 3rem;
    color: var(--black);
    padding-top: 10px;
    text-align: center;
    height: 70px;
}

.side-cart #cartClose {
    padding: 0px 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    color: var(--light-color);
    border: none;
    background-color: none;
    cursor: pointer;
}

.side-cart #cartClose:hover {
    color: var(--blue);
}

.side-cart-cart {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: calc(100vh - 70px - 70px);
}

.side-cart-cart::-webkit-scrollbar {
    width: 10px;
}

.side-cart-cart::-webkit-scrollbar-track {
    background: transparent;
}

.side-cart-cart::-webkit-scrollbar-thumb {
    background: var(--black);
}

.cart-box {
    width: 100%;
    height: 150px;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.cart-box:hover {
    border: 1px solid var(--black);
}

.cart-box img {
    width: 100%;
    height: 100%;
}

.cart-box-content h3 {
    font-size: 1.8rem;
    color: var(--black);
}

.cart-box-content p {
    font-size: 1.8rem;
    color: var(--black);
}

.deleteBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 2.2rem;
    padding: 10px;
    cursor: pointer;
    color: var(--black);
}

.deleteBtn:hover {
    color: var(--blue);
}

.payment-total {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

#total {
    font-size: 2.2rem;
    color: var(--black);
}

#Checkout {
    font-size: 1.5rem;
    background-color: var(--black);
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.custom-swal {
    color: var(--black);
}


/* search */
.search {
    position: absolute;
    top: -105%;
    width: 50rem;
    background: rgba(255, 255, 255, 0.9);
    z-index: 995;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 1.5rem 9%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    left: 34.3%;
    /* border: 1px solid var(--light-color); */
    transition: top 0.3s ease; /* Add a transition for the top property */
}

.search.active {
    top: 120px;
}

.search .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.search .box:hover {
    border: var(--border-hover);
}

.search .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #eee 30.1%);
}

.search .box .image img {
    height: 25rem;
}

.search .box:hover .image {
    cursor: pointer;
}

.search .content-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    padding-top: 1rem;
}

.search .box .content {
    background: #eee;
    padding: 0 1.5rem;
}

.search .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.search .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.search .box .content a {
    font-size: 2rem;
    color: var(--black);
    border-radius: 50%;
    padding-top: 1rem;
}
.search .box .content a:hover{
    color: var(--blue);
}

#searchCartClose{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 2.2rem;
    color: var(--black);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*------ review section --------*/
.reviews{
    position: absolute;
    top:  calc(220vh + 980px);
    width: 100%;
    height: 500px;
}
.reviews .reviews-slider{
    padding-top: 0.8rem;
}
.reviews .reviews-slider .box {
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.reviews .reviews-slider .box:hover{
    border: var(--border-hover);
}

.reviews .reviews-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--blue);
}

/*------- footer section ---------*/
.footer{
    position: absolute;
    top:  calc(220vh + 1500px);
    width: 100%;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 1rem 0;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--blue);
    padding-right: 0.5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width: 100%;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background-color: var(--blue);
    margin: 0 0 0.3rem;
    border-radius: 50%;
    padding:1.2rem;
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0.1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--blue);
}